* { 
    box-sizing: border-box;
   /* box-sizing est appliqué à tous les éléments */
    font-family: 'Raleway', sans-serif;
}

body{
    max-width: 1200px;
    width: auto;
    margin: auto;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav{
    display: flex;
    height: 100px;
    font-size: 15px;
}

a{
    text-decoration: none;
    color: black;
}

nav a{
    text-align: center;
    color: black;
    padding: 40px 0 0 0;
    width: 160px;
}

nav a:hover{
    color: #0065FC;
    border-top: solid;
    border-top-color: #0065FC;
}

.logo{
    margin-top: 10px;
    margin-left: 50px;
    height: 45px;
}

main{
    margin-left: 35px;
}

h1{
    font-weight: 700;
    font-size: 20px;
}

#heading{
    margin-left: 35px;
}

#heading>p{
    font-size: 16px;
    font-weight: 300;
    margin-top: -5px;
}

#recherche{
    display: flex;
    font-size: 0;
    align-items: center;
    height: 50px;
}

.recherche {
    background-color: #F2F2F2;
    font-size: 13px;
    border: 0;
    text-align: center;
    padding: 11px;
    height: 33px;
    width: 33px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.rechercher{
    color: white;
    font-size: 13px;
    font-weight: 600;
    height: 33px;
    width: 100px;
    border: 0;
    background-color: #0065FC;
    border-top-right-radius : 5px;
    border-bottom-right-radius : 5px;
}
.champ{
    border: 1.9px solid;
    border-color: #F2F2F2;
    height: 33px;
    font-size: 15px;
    font-weight: 600;
}
.none{
    display: none;
}
#filtres{
    margin-top: 15px;
    display: flex;
    width: 750px;
    justify-content: space-around;
    
}
#filtres .fas{
    color: #0065FC;
    background-color: #DEEBFF;
    height: 40px;
    width: 40px;
    font-size: 15px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 8px;
}
#filtres p{
    font-weight: 700;
    font-size: 13px;
}
.filtre{
    height: 40px;
    border: 2.9px solid;
    border-color: #F2F2F2;
    border-radius: 40px;
    background-color: white;
    font-size: 13px;
    font-weight: 600;
    padding-right: 20px;
    display: flex;
    align-items: center;
}

#filtres button:hover{
    background-color: #DEEBFF;
    border-color: #DEEBFF;
}

.info-container{
    display: flex;
    align-items: baseline;
    padding-top: 20px;
    padding-bottom: 25px;
}

.i-logo{
    color: #0065FC;
    height: 21px;
    width: 21px;
    border: 1.5px solid;
    border-color: #F2F2F2;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.i-logo .fa-info{
    font-size: 10px;
}

.info{
    padding-left: 7px;
    font-size: 12px;
}

.bold{
    font-weight: 600;
}

#hosting{
    display: flex;
    flex-direction: row;
    width: 1006px;
    justify-content: space-around;
}

#marseille{
    flex-direction: row;
    background-color: #F2F2F2;
    border-radius: 22px;
    padding-left: 35px;
    padding-right: 35px;
    width: 662px;
    height: 472px;
}

h2{
    font-size: 16px;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 18px;
}

.popular-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.popular-title .fas{
    font-size: 22px;
}

.hosting-cards{
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}

.card{
    background-color: white;
    border-radius: 18px;
    border: 3px solid;
    border-color: white;
    overflow: hidden;
    width: 184px;
    height: 151px;
    font-size: 13px;
    box-shadow: 0 0 25px -15px black;
}

.tarif{
    margin-top: 3px;
    margin-bottom: 2px;
}

.tarif-container{
    margin-left: 10px;
}

.tarif-container p:last-of-type{
    font-weight: 300;
    font-size: 11px;
}

.fa-star{
    font-size: 10px;
    width: 10px;
    color: #0065FC;
}

#marseille p:last-child{
    margin-top: 30px;
    font-size: 15px;
}

.grey{
    color: #F2F2F2;
}

.card-cover{
    width: 179px;
    height: 87px;
    object-fit: cover;
}

#popular{
    background-color: #F2F2F2;
    border-radius: 22px;
    padding-left: 40px;
    padding-right: 40px;
    width: 317px;
    height: 472px;
}

.popular-card{
    background-color: white;
    width: 256px;
    height: 110px;
    border-radius: 18px;
    border: 3px solid;
    font-size: 13px;
    border-color: white;
    display: flex;
    overflow: hidden;
    box-shadow: 0 0 25px -15px black;
}

.popular-hosting{
    height: 380px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.popular-cover{
    width: 97px;
    height: 105px;
    object-fit: cover;
}

.tarif-popular{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    
}

.tarif-popular p:last-of-type{
    font-size: 11px;
    margin: -6px 0px 19px 0px;
}

.popular-stars .fa-star{
    font-size: 9px;
}




    /* max-width = desktop first, si l'ecran est inf ou egal alors {...} */
    /* Media Queries */
@media screen and (max-width: 768px){
    header{
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    nav{
        width: 100%;
        justify-content: space-around;
    }
    nav a{
        flex-grow: 1;
        border-bottom: solid;
        border-bottom-color: #F2F2F2;
        text-decoration: none;
        text-align: center;
        height: 75px;
        color: black;
        padding: 40px 0 0 0;
        width: 160px;
    }
    nav a:hover{
        color: #0065FC;
        border-bottom: solid;
        border-bottom-color: #0065FC;
        border-top: none;
    }
    main{
        margin: 14px;
    }
    #heading h1{
        justify-content: center;
        font-size: 20px;
        margin-top: -10px;
    }
    #heading>p{
        font-size: 15px;
    }
    .recherche{
        font-size: 15px;
        height: 40px;
        width: 40px;
        border-top-left-radius: 11px;
        border-bottom-left-radius: 11px;
    }
    .champ{
        height: 40px;
        width: 200px;
        padding-left: 15px;
    }
    .rechercher{
        display: none;
    }
    #recherche{
        justify-content: center;
    }
    .loupe{
        display: block;
        font-size: 15px;
        width: 40px;
        height: 40px;
        border-radius: 10px;
    }
} 